
<ion-content>
  <div>
    <!-- <ion-label class="textright skipstyle"> Skip </ion-label> -->
    <div class="backgroundimagestyle"><img src="assets/images/login/loginLogo.png"></div>
    <div class="backimage" (click)="goback()"><img src="assets/images/login/backarrow.png" /></div>
  </div>
  <div>
      <ion-label class="pinkcolor"> SIGN IN </ion-label>
  </div>
  <div class="logindiv">
      <ion-item>
        <ion-input type="number" placeholder="Phone Number" [(ngModel)]="PhoneNumber" maxlength="10" ></ion-input>
        <ion-icon ></ion-icon>
      </ion-item><br />
      <ion-item class="from-group details">
        <ion-input type="{{passwordtype}}" placeholder="Password" [(ngModel)]="Password"  ></ion-input>
        <ion-icon name="ios-eye-outline" class="eyeicon" item-right (click)="showPassword()"></ion-icon>
      </ion-item><br/>
      <ion-label class="textright" (click)="forgotpassword()"> Forgot Password </ion-label>
  </div><br/>
  <div class="loginbuttondivstyle">
    <button ion-button block color="navbarColor" class="buttonborder" (click)="login()"> <b>SIGN IN </b></button><br/>
  </div>
  <ion-label class="textcenter" (click)="signup()">New User? <span class="pinkcolor">SIGNUP</span> </ion-label>
</ion-content>
