page-login {

}
.loginbackgroundimg{
    margin-top: -10px;
    height: 265px;
    background-image: url("assets/images/login/loginLogo.png");
}

.skipstyle{
    color: #9E9E9E;
    padding: 10px;
}

.textcenter{
    text-align: center;
}
.pinkcolor{
    text-align: center;
    color: #AD1457;
}

.logindiv{
    padding-left: 20px;
    padding-right: 40px;
}

.textright{
    text-align: right
}

.loginbuttondivstyle{
    padding-left: 35px;
    padding-right: 35px;
}

.buttonborder{
    border-radius: 5px;
}
.eyeicon{
    position: relative;
}

.signindiv{
    padding-top: 220px;
}

.backimage{
    position: absolute;
    top: 20px;
    left: 20px;
}
.backgroundimagestyle{
    position: relative;
    top: 0;
    left: 0;
}