page-order {
    .price {
        font-size: 23px;
        font-weight: bold;
    }
    #productName {
        font-size: 20px;
        font-weight: medium;
    }
    #productSize {
        font-size: 20px;
        font-weight: bold;
    }
    .quantityBox {
        border: 2px solid #e8e8e8;
        border-radius: 30px;
        height: 30px;
        width: 30px;
        text-align: center;
        // padding: 10px;
        padding-top: 5px;
    }
    #quantity {
        text-align: center;
        font-weight: bold;
        padding-top: 5px;
        font-size: 18px;
    }
    .footer-md::before {
        display: none !important;
    }
    .continueButton {
        background-color: #AD1457;
        border-radius: 8px;
        text-align: center;
        padding: 15px;
        font-weight: bold;
        color: #FFFFFF;
    }
    .productImage {
        width: 140px;
        height: 140px;
    }
    .addressHead {
        font-size: 18px;
        font-weight: bold;
    }
    .addressButton {
        border: 1px solid #AD1457;
        border-radius: 15px;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }
}