<ion-header>
  <ion-navbar color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order Details</ion-title>
  </ion-navbar>
  <!--<ion-toolbar color="none">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row style="margin-top: 5%; border-bottom: 0.25px solid #d3d3d3">
      <ion-col col-6 align="center">
          <img src="{{product.img}}" class="productImage" />
      </ion-col>
      <ion-col col-6 align="left">
          <ion-row id="productName">
            {{product.productName}}
          </ion-row>
          <ion-row>
            <ion-label class="price"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{product.productCost}} </ion-label>
          </ion-row>
          <ion-row>
            Size: {{size}}
          </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%; border-bottom: 0.25px solid #d3d3d3">
      <ion-col col-12 id="">
        <h5>PRICE DETAILS</h5>
      </ion-col>
      <ion-col col-12>
        <ion-row>
          <ion-col col-6>
            <ion-label>Item-1</ion-label>
          </ion-col>
          <ion-col col-2>
        
          </ion-col>
          <ion-col col-4 style="text-align: center">
            <ion-label class="price"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{product.productCost}} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-label>Quantity</ion-label>
          </ion-col>
          <ion-col col-2>
        
          </ion-col>
          <ion-col col-4>
            <ion-row style="">
              <ion-col col-4>
                <div class="quantityBox" (click)="decreaseCount()">
                  -
                </div>
              </ion-col>
              <ion-col col-4>
                <div id="quantity">
                  {{quantity}}
                </div>
              </ion-col>
              <ion-col col-4>
                <div class="quantityBox" (click)="increaseCount()">
                  +
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-label>Amount Payable</ion-label>
          </ion-col>
          <ion-col col-2>
        
          </ion-col>
          <ion-col col-4 style="text-align: center">
            <ion-label class="price"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{amount}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%; border-bottom: 0.25px solid #d3d3d3">
      <ion-col col-12>
        <ion-row>
            <ion-col col-8 class="addressHead">
                ADDRESS
            </ion-col>
            <ion-col col-4> 
                <div class="addressButton" (click)="openModal({charNum: 0})">
                  Add
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showAddressBlock">
            <ion-col col-12> 
              <ion-label>{{address[0].addressLine1}}</ion-label>
            </ion-col>
            <ion-col col-12> 
              <ion-label>{{address[0].addressLine2}}</ion-label>
            </ion-col>
            <ion-col col-12>
            <ion-label>{{address[0].addressLine3}}</ion-label>
            </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="padding: 10px">
 <div class="continueButton" (click)="placeOrder()">
  CONTINUE
</div>
</ion-footer>
