page-list {
    #emptyListText {
        font-size: 20px;
        text-align: center !important;
        margin-top: 5%;
        border: 0.5px solid #d3d3d3;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 1px 4px #999;
    }
}
