<ion-header>
  <ion-navbar color="navbarColor"> <!--navbarColor is added as new color parameter in Variable CSS-->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.selectedCategory}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="noSubCategory" id="emptyListText">
        <ion-icon name="md-cart"></ion-icon>     No Subcategory Available..!
  </div>
  <ion-list inset *ngIf="subcategoryShow">
    <button ion-item *ngFor="let subCategory of subCategories" (click)="itemTapped($event, subCategory)">
      <!--<ion-icon [name]="subCategory.icon" item-left></ion-icon>-->
      {{subCategory.name}}
      <!--<div class="item-note" item-right>
        {{item.note}}
      </div>-->
    </button>
  </ion-list>
</ion-content>
