page-cart {
    #totalButton {
        padding: 10px;
        background-color: #FFFFFF;
        border: 0.25px solid #d3d3d3;
        box-shadow: 0px 1px 4px #999;
    }
    #checkoutButton {
        padding: 10px;
        background-color: #AD1457;
        border: 0.25px solid #AD1457;
        box-shadow: 0px 1px 4px #999;
        color: #FFFFFF;
    }
    .footer-md::before {
        display: none !important;
    }
    #emptyListText {
        font-size: 20px;
        text-align: center !important;
        margin-top: 5%;
        border: 0.5px solid #d3d3d3;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 1px 4px #999;
    }
    .closeButton {
        font-size: 18px;
        font-weight: bold;
        color: #d3d3d3;
    }
    .quantityBox {
        border: 0.5px solid #AD1457;
        border-radius: 10px;
    }
    #decreaseIcon {
        border-right: 0.5px solid #AD1457;
        text-align: center;
    }
    #increaseIcon {
        border-left: 0.5px solid #AD1457;
        text-align: center;
    }
    .amountText {
        font-weight: bold;
        margin-left: 20px;
    }
}
