<ion-header>
  <ion-navbar color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Cart</ion-title>
  </ion-navbar>
  <!--<ion-toolbar color="none">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <div *ngIf="emptyCart" id="emptyListText">
        <ion-icon name="md-cart"></ion-icon>     Your Cart is Empty..!
  </div>
  
  <ion-list *ngIf="showCartList" inset>
    <!--<button ion-item >-->
      <ion-grid *ngFor="let product of myCartList; let i = index" style="border-bottom: 0.25px solid #d3d3d3">
        <ion-row>
          <ion-col col-3>
              <img src="{{product.img}}"/>
          </ion-col>
          <ion-col col-6 style="padding-left: 20px;">
                <ion-row>
                  <ion-col col-12>
                    <ion-label> {{product.productName}} </ion-label>
                  </ion-col>
                  <ion-col col-12>
                    <ion-label class="productCost">Size: {{product.size}} </ion-label>
                  </ion-col>
                  <ion-col col-12>
                    <ion-label  class="amountText"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{product.finalAmount}} </ion-label>
                  </ion-col>
                </ion-row>
          </ion-col>
          <ion-col col-3>
              <ion-row>
                  <ion-col col-12>
                    <div align="center" class="closeButton"> <img class="rupeeImage" src="assets/images/productList/deleteIcon.png" (click)="deleteFromCart(i)"/> </div>
                  </ion-col>
              </ion-row> 
              <ion-row>
                <ion-col col-12></ion-col>
                <ion-col col-12></ion-col>
                <ion-col col-12></ion-col>
                <ion-row class="quantityBox" style="width: 100%">
                  <ion-col col-3 id="decreaseIcon" (click)="decreaseQuantity(i)"> - </ion-col>
                  <ion-col col-6 align="center">{{product.quantity}}</ion-col>
                  <ion-col col-3 id="increaseIcon" (click)="increaseQuantity(i)"> + </ion-col>
                </ion-row>
              </ion-row> 
          </ion-col>
        </ion-row>
      </ion-grid>
    <!--</button> -->
  </ion-list>

  <ion-grid *ngIf="showAddressBlock">
    <ion-row>
      <ion-item>
        <ion-label floating>Address Line 1</ion-label>
        <ion-input type="text" [(ngModel)]="addressLine1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Address Line 2</ion-label>
        <ion-input type="text" [(ngModel)]="addressLine2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Address Line 3</ion-label>
        <ion-input type="text" [(ngModel)]="addressLine3"></ion-input>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="padding: 10px">
  <ion-grid *ngIf="showCartList">
    <ion-row>
      <ion-col col-6 align="center" id="totalButton">
        <ion-row >
          <!--<ion-col col-6>-->
            <div>TOTAL</div> 
          <!--</ion-col>-->
          <!--<ion-col col-6>-->
            <div class="amountText">Rs.{{totalAmount}}</div>
          <!--</ion-col>-->
        </ion-row>
      </ion-col>
      <ion-col col-6 align="center" id="checkoutButton" (click)="checkoutFunction()">
          CONTINUE
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="showAddressBlock">
    <ion-row>
      <ion-col col-12 align="center" id="checkoutButton" padding (click)="addAddress()">
          CHECKOUT
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
