<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" id="homeMenuIcon"></ion-icon>
    </button>
     <ion-title>Profile</ion-title> 
    <!--<span>Profile</span>
    <img class="right_side_icons" src="assets/images/home/cartIcon1.png" />
    <img class="right_side_icons" src="assets/images/home/notificationIcon1.png" />
    <img class="right_side_icons" src="assets/images/home/searchIcon.png" />-->
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundstyle">
  <div class="cardstyle" id="target">
            
      <ion-row class="forgotpassworddiv topdivstyle">
          <ion-col>
              <ion-row class="float-right" (click)="UserTypeChange('Male')">
                 <img *ngIf="UserType=='Male'" src="assets/images/profile/maleselected.png" />
                 <img *ngIf="UserType!='Male'" src="assets/images/profile/malegrey.png" />
              </ion-row>
          </ion-col>
          <span class="orstyle">or</span>
          <ion-col>
              <ion-row (click)="UserTypeChange('Female')">
                  <img *ngIf="UserType=='Female'" src="assets/images/profile/femaleselected.png" />
                  <img *ngIf="UserType!='Female'" src="assets/images/profile/femalegrey.png" />
              </ion-row>
          </ion-col>
      </ion-row>
      <ion-row class="forgotpassworddiv textcenter">
          <ion-col>
              <ion-row class="textcenter">
                  <ion-col><label>Male</label> </ion-col>
               </ion-row>
          </ion-col>
          <ion-col>
              <ion-row class="textcenter">
                  <ion-col><label>Female</label> </ion-col>
              </ion-row>
          </ion-col>
      </ion-row> <br><br>
      <div class="logindiv">
        <ion-item>
          <ion-input type="text" placeholder="First Name1" [(ngModel)]="FirstName"  maxlength="10" (click)="scrollElement()"></ion-input>
          <ion-icon ></ion-icon>
        </ion-item><br />
        <ion-item>
          <ion-input type="text" placeholder="Last Name1" [(ngModel)]="LastName"  maxlength="10" (click)="scrollElement()"></ion-input>
          <ion-icon ></ion-icon>
        </ion-item><br />
      </div><br /><br /><br />
      <div class="loginbuttondivstyle">
          <button ion-button block color="navbarColor" class="buttonborder" (click)="UpdateProfile()"> <b>SUBMIT</b></button><br/>
      </div>
  </div>
</ion-content>
