page-productView {
    .productViewSlider {
        height: 30%;
        margin-top: 5%;
    }
    .productImagesInner {
        width: 100%;
    }
    .productName {
        font-size: 18px;
    }
    .price {
        font-size: 20px;
        font-weight: bold;
    }
    .sizeBoxes {
        border: 2px solid #e8e8e8;
        border-radius: 10px;
        // height: 50px;
        // width: 50px;
        text-align: center;
        padding: 10px;
        // padding-top: 15px;
    }
    .sizes {
        margin-left: 10px !important;
    }
    #addToCartButton {
        padding: 10px;
        background-color: #FFFFFF;
        border: 0.25px solid #d3d3d3;
        box-shadow: 0px 1px 4px #999;
    }
    #buyNowButton {
        padding: 10px;
        background-color: #AD1457;
        border: 0.25px solid #AD1457;
        box-shadow: 0px 1px 4px #999;
        color: #FFFFFF;
    }
    div.active div {
        border: 2px solid #AD1457 !important;
        background-color: #AD1457;
        color: #FFFFFF;
    }
    .footer-md::before {
        display: none !important;
    }
    .productImage {
        width: 140px;
        height: 140px;
    }
    #removeFromCart {
        color: #AD1457;
        font-weight: bold;
    }
}
