<ion-header>
  <ion-navbar color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{product.productName}}</ion-title>
  </ion-navbar>
  <!--<ion-toolbar color="none">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content padding>
  <ion-slides pager class="productViewSlider">
    <ion-slide *ngFor="let image of productImages">
      <div class="productImagesInner" align="center">
        <img src="{{image}}" class="productImage"/>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-grid>
      <ion-row style="border-bottom: 0.25px solid #d3d3d3">
        <ion-col col-8>
          <ion-label class="productName"> {{product.productName}} </ion-label>
          <ion-label class="price"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{product.productCost}} </ion-label>
        </ion-col>
        <ion-col col-4>

        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 3%">
        <ion-col col-12>
          {{product.description}}
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 3%">
        <ion-label col-12><h3>Size</h3></ion-label>
      </ion-row>
      <ion-row style="margin-top: -15px">
        <div *ngFor="let info of productInfo; let i = index" class="sizes" [class.active]="i == selectedRow" (click)="sizeSelect(info.size,i)">
          <div class="sizeBoxes">
            {{info.size}}
          </div>
        </div>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="padding: 10px">
  <ion-grid>
    <ion-row>
      <ion-col col-6 align="center" id="addToCartButton" (click)="addToCart()">
        <div *ngIf="showAddToCart">
          ADD TO CART
        </div>
        <div *ngIf="showRemoveFromCart" id="removeFromCart">
          REMOVE FROM CART
        </div>
      </ion-col>
      <ion-col col-6 align="center" id="buyNowButton" (click)="buyNow()">
          BUY NOW
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
