
<ion-content>
  <div>
      <ion-label class="otptextstyle pinkcolor"> Enter Your OTP </ion-label>
  </div>
  <ion-grid class="gridpadding">
    <ion-row>
      <ion-col>
        <div class="topstyle">
            <div class="circleDiv" [style.border]="noviColor">
                <div class="circleinnerdiv">
                    <input class="otpinput" type = "text" [(ngModel)]="OTP1" maxlength="1"/>
                </div>
            </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="topstyle">
            <div class="circleDiv" [style.border]="noviColor">
                <div class="circleinnerdiv">
                    <input class="otpinput" type = "text" [(ngModel)]="OTP2" maxlength="1"/>
                </div>
            </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="topstyle">
            <div class="circleDiv" [style.border]="noviColor">
                <div class="circleinnerdiv">
                    <input class="otpinput" type = "text" [(ngModel)]="OTP3" maxlength="1"/>
                </div>
            </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="topstyle">
            <div class="circleDiv" [style.border]="noviColor">
                <div class="circleinnerdiv">
                    <input class="otpinput" type = "text" [(ngModel)]="OTP4" maxlength="1"/>
                </div>
            </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
      <ion-label class="otptextstyle" (click)="generateOTP()">Didnt get OTP? <span class="pinkcolor">RESEND </span></ion-label>
      <ion-label class="textcenter greycolor">+91 {{this.PhoneNumber}}</ion-label>
  </div><br/><br/>
  <div class="textcenter" (click)="next()">
        <img src="assets/images/login/next.png">
  </div>
</ion-content>
