page-otp {

}
.otptextstyle{
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
}

.topstyle{
    margin-top: 70px;
}

.gridpadding{
    padding-left: 25px;
    padding-right: 25px;
}
  
.circleDiv{
    width: 50px !important;
    height: 50px !important;
    margin: auto !important;
    border-color: #000000;
    border-radius: 50%;
    text-align: center;
    box-shadow: -1px 0px 19px 0px rgba(50, 50, 50, 0.78);
}

.circleinnerdiv{
    margin-top: 40px;
}

.otpinput{
    align-items: center;
    margin-top: 10px;
    text-align: center;
    width: 40px;
    font-size: 21px;
    color: #AD1457;
}

.greycolor{
    color: #9E9E9E;
}