<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" id="homeMenuIcon"></ion-icon>
    </button>
    <!--<ion-title>Home</ion-title>-->
    <img id="homeIcon" src="assets/images/Spectrum1.png" />

    <img class="right_side_icons" src="assets/images/home/cartIcon1.png" (click)="MyCart()"/>
    <!--<img class="right_side_icons" src="../../assets/images/home/notificationIcon1.png" />-->
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>-->
    <ion-slides pager class="homeSlider">
      <ion-slide>
        <img src="{{img1}}" />
      </ion-slide>

      <ion-slide>
        <img src="{{img2}}" />
      </ion-slide>

      <ion-slide>
        <img src="{{img3}}" />
      </ion-slide>

      <ion-slide>
        <img src="{{img4}}" />
      </ion-slide>

      <ion-slide>
        <img src="{{img5}}" />
      </ion-slide>
    </ion-slides>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let product of productList" class="homeProductView" (click)="gotoProductView(product)">
            <div align="center">
              <img src="{{product.img}}" class="homeProductImage"/>
              <ion-label> {{product.productName}} </ion-label>
              <ion-label class="productCost"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{product.productCost}} </ion-label>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<ion-list inset>
      <button ion-item (click)="itemSelected(item)">
        test1
      </button> 
      <button ion-item (click)="itemSelected(item)">
        test1
      </button>
    </ion-list>-->
</ion-content>
