page-home {
    $searchbar-ios-border-color	: yellow;
    $searchbar-md-input-search-icon-color: green;
    #homeMenuIcon {
        font-weight: bold;
        color: #AD1457;
        font-size: 32px
    }
    #homeIcon {
        margin-top: 5px;
    }
    .right_side_icons {
        float: right;
        margin-right: 20px;
    }
    ion-searchbar {
        border: 0.5 px solid #c3c3c3 !important;
        background-color: transparent !important;
    }
    .homeSlider {
        height: 30%;
        margin-top: 5%;
    }
    .homeProductView {
        border: 0.25px solid #d3d3d3 !important;
    }
    .homeProductImage {
        height: 100px;
        width: 100px;
    }
    .productCost {
        font-size: 16px;
        font-weight: bold;
    }
}


