page-product {
    .footerButtons {
        background-color: transparent !important;
    }
    .productView {
        border: 0.25px solid #d3d3d3;
    }
    .productCost {
        font-weight: bold;
        color: #000000;
    }
    .addtoCartButton {
        margin-top: 10px;
    }
    .productImage {
        width: 100px;
        height: 100px;
    }
    .footer-md::before {
        display: none !important;
    }
    .addedToCart {
        color: green;
        font-weight: bold;
    }
    #emptyListText {
        font-size: 20px;
        text-align: center !important;
        margin-top: 5%;
        border: 0.5px solid #d3d3d3;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 1px 4px #999;
    }
}