<ion-header>
  <ion-navbar color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.selectedSubcategory.name}}</ion-title>
  </ion-navbar>
  <!--<ion-toolbar color="none">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <div *ngIf="noProduct" id="emptyListText">
        <ion-icon name="md-cart"></ion-icon>     No Products Available..!
  </div>
  <div *ngIf="productListShow">
    <ion-grid *ngIf="listView">
        <ion-row>
          <ion-col col-6 *ngFor="let product of productList" class="productView" (click)="productSelected(product)">
              <div align="center">
                <img class="productImage" src="{{product.img}}" />
                <ion-label> {{product.productName}} </ion-label>
                    <ion-label class="productCost"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{product.productCost}} </ion-label>
                    <!--<ion-icon name="ios-heart-outline"></ion-icon>-->
              </div>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="gridView" inset>
      <!--<button ion-item >-->
        <ion-grid *ngFor="let product of productList; let i = index" style="border-bottom: 0.25px solid #d3d3d3">
          <ion-row>
            <ion-col col-3 (click)="productSelected(product)">
                <img src="{{product.img}}"/>
            </ion-col>
            <ion-col col-9 style="padding-left: 20px;">
                  <ion-row (click)="productSelected(product)">
                    <ion-col col-10>
                      <ion-label> {{product.productName}} </ion-label>
                    </ion-col>
                    <!--<ion-col col-2 (click)="addToWishList(product)">
                      <ion-icon name="ios-heart-outline"></ion-icon>
                    </ion-col>-->
                  </ion-row>
                      
                      
                  <ion-row>
                    <ion-col col-6>
                      <ion-label class="productCost"><img class="rupeeImage" src="assets/images/productList/rupeeImage.png" /> {{product.productCost}} </ion-label>
                    </ion-col>
                    <ion-col col-6 class="addtoCartButton">
                      <!--<ion-label *ngIf="product.showAddedtoCart" class="addedToCart">Added To Cart</ion-label>
                      <img class="rupeeImage" *ngIf="product.showCartButton" (click)="addToCart(product, i)" src="assets/images/productList/addToCart.png" />-->
                    </ion-col>
                  </ion-row>
            </ion-col> 
          </ion-row>
        </ion-grid>
      <!--</button> -->
    </ion-list>
  </div>
</ion-content>

<ion-footer *ngIf="productListShow">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div align="center">
            <img src="assets/images/productList/sortIcon.png" />
          </div>
        </ion-col>
        <ion-col col-6>
          <div align="center">
            <img *ngIf="listView" (click)="changeView()" src="assets/images/productList/listViewIcon.png" />
            <img *ngIf="gridView" (click)="changeView()" src="assets/images/productList/gridViewIcon.png" />
          </div>
        </ion-col>
        <!--<ion-col col-4>
          <div align="center">
            <img src="../../assets/images/productList/filterIcon.png" />
          </div>
        </ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
