<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <img id="appIcon" src="assets/images/spectrumIcon1.png" />
      <img id="sideMenuAppIcon" src="assets/images/Spectrum1.png" />
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="homePage()" class="listMenuButtons">
        <ion-row responsive-sm>
          <ion-col style="text-align: center !important">
            <img src="assets/images/menuIcons/homeIcon.png" />
          </ion-col>
          <ion-col col-8>
            Home
          </ion-col>
        </ion-row>
      </button>
      <button menuClose ion-item *ngFor="let category of categoryList" (click)="openPage(category)" class="listMenuButtons">
        <!--<ion-icon name="ios-home" class="listMenuIcons"></ion-icon>-->
      <ion-row responsive-sm>
        <ion-col style="text-align: center !important">
          <img src="{{category.source}}" />
        </ion-col>
        <ion-col col-8>
          {{category.Name}}
        </ion-col>
      </ion-row>
        
      </button>
      <!--<button menuClose ion-item class="listMenuButtons">
        <ion-row responsive-sm>
          <ion-col style="text-align: center !important">
            <img src="assets/images/menuIcons/ordersIcon.png" />
          </ion-col>
          <ion-col col-8>
            My Orders
          </ion-col>
        </ion-row>
      </button>-->
      <button menuClose ion-item class="listMenuButtons" (click)="MyCart()">
        <ion-row responsive-sm>
          <ion-col style="text-align: center !important">
            <img src="assets/images/menuIcons/cartIcon.png" />
          </ion-col>
          <ion-col col-8>
            My Cart
          </ion-col>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="MyAccount()" class="listMenuButtons">
        <ion-row responsive-sm>
          <ion-col style="text-align: center !important">
            <img src="assets/images/menuIcons/myAccount.png" />
          </ion-col>
          <ion-col col-8>
            My Account
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>