
<ion-content>
    <div>
        <!-- <ion-label class="textright skipstyle"> Skip </ion-label> -->
        <div class="backgroundimagestyle"><img src="assets/images/login/loginLogo.png"></div>
        <div class="backimage" (click)="goback()"><img src="assets/images/login/backarrow.png" /></div>
      </div>
  <div>
      <ion-label class="pinkcolor"> FORGOT PASSWORD </ion-label>
  </div><br/><br />
  <div class="forgotpassworddiv">
      <ion-item>
        <ion-input type="text" placeholder="Phone Number" [(ngModel)]="PhoneNumber"  maxlength="10"></ion-input>
        <ion-icon ></ion-icon>
      </ion-item><br />
  </div><br/><br /><br />
  <div class="loginbuttondivstyle">
    <button ion-button block color="navbarColor" class="buttonborder" (click)="generateOTP()"> <b>GOT OTP</b></button><br/>
  </div>
</ion-content>
