
<ion-content>
  <div><br />
      <ion-label class="otptextstyle pinkcolor"> RESET PASSWORD </ion-label>
  </div><br/><br/><br/><br/><br/>
  <div class="logindiv">
    <ion-item>
        <ion-input type="text" placeholder="New Password" [(ngModel)]="NewPassword"  maxlength="10"></ion-input>
    </ion-item><br /><br /><br />
    <ion-item>
        <ion-input type="{{passwordtype}}" placeholder="Confirm Password" [(ngModel)]="ConfirmPassword"  maxlength="10"></ion-input>
        <ion-icon name="ios-eye-outline" class="eyeicon" item-right (click)="showPassword()"></ion-icon>
    </ion-item><br/><br/><br/><br/><br/>
  </div>
  <div class="loginbuttondivstyle">
        <button ion-button block color="navbarColor" class="buttonborder" (click)="resetPassword()"> <b>RESET</b></button><br/>
  </div>
</ion-content>
