
<ion-content>
  <div>
    <!-- <ion-label class="textright skipstyle"> Skip </ion-label> -->
    <img src="assets/images/login/loginLogo.png">
  </div>
  <div>
      <ion-label class="pinkcolor"> SIGN UP </ion-label>
  </div><br/><br />
  <div class="logindiv">
      <ion-item>
        <ion-input type="number" placeholder="Phone Number" [(ngModel)]="PhoneNumber" maxlength="10"></ion-input>
        <ion-icon ></ion-icon>
      </ion-item><br />
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="Password"></ion-input>
        <ion-icon ></ion-icon>
      </ion-item><br />
  </div><br/><br /><br />
  <div class="loginbuttondivstyle">
    <button ion-button block color="navbarColor" class="buttonborder" (click)="signup()"> <b>SIGN UP </b></button><br/>
  </div>
  <ion-label class="textcenter" (click)="signin()">Already Have an account? <span class="pinkcolor">SIGNIN</span> </ion-label>
</ion-content>
