page-profileView {
    .backgroundstyle{
        background-color: #AD1457;
    }

    .cardstyle{
        background-color: white;
        border-radius: 10px;
        height: 95%;
        position: absolute !important;
        width: 92%;
    }

    .orstyle{
        padding-top: 50px;
        text-align: center;
    }

    .topdivstyle{
        padding-top: 80px;
    }

    .float-right{
        float: right;
    }

    .paddingleft{
        padding-left: 35px;
    }
    .paddingright{
        padding-right: 35px;
    }
    .textcenter{
        text-align: center;
    }
    .nameText {
        font-size: 18px;
        font-weight: bold;
    }
}
