<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" id="homeMenuIcon"></ion-icon>
    </button>
     <ion-title>My Account</ion-title> 
    <!--<span>Profile</span>
    <img class="right_side_icons" src="assets/images/home/cartIcon1.png" />
    <img class="right_side_icons" src="assets/images/home/notificationIcon1.png" />
    <img class="right_side_icons" src="assets/images/home/searchIcon.png" />-->
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundstyle">
  <div class="cardstyle" id="target">
            
      <ion-row class="forgotpassworddiv topdivstyle">
          <ion-col align="center">
            <img *ngIf="UserType=='Male'" src="assets/images/profile/maleselected.png" />
            <img *ngIf="UserType=='Female'" src="assets/images/profile/femaleselected.png" />
          </ion-col>
      </ion-row>
      <ion-row class="forgotpassworddiv textcenter">
          <ion-col align="center">
              <ion-row class="textcenter">
                  <ion-col><label class="nameText">{{FirstName}} {{LastName}}</label> </ion-col>
               </ion-row>
               <ion-row class="textcenter">
                  <ion-col><label>{{PhoneNumber}}</label> </ion-col>
               </ion-row>
          </ion-col>
      </ion-row> <br><br>

      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
          <div class="textcenter" (click)="gotoProfileEdit()">
            <ion-label><ion-icon name="md-open"></ion-icon>   Edit Profile</ion-label>
          </div>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
            <button ion-button block color="navbarColor" class="buttonborder" (click)="LogOut()"> <b>Log Out</b></button><br/>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <!--<div class="loginbuttondivstyle">
          <button ion-button block color="navbarColor" class="buttonborder" (click)="UpdateProfile()"> <b>SUBMIT</b></button><br/>
      </div>-->
  </div>
</ion-content>
